[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
streamlit = "*"
langchain-community = "*"
langchain-openai = "*"
openai = "*"
python-dotenv = "*"
ffmpeg-python = "*"
openai-whisper = "*"

[dev-packages]

[requires]
python_version = "3.10"
