[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
langchain-community = "*"
lancedb = "*"
bs4 = "*"
langchain = "*"
tiktoken = "*"
python-dotenv = "*"
pypdf = "*"
streamlit = "*"
langchain-core = "*"
langchain-pinecone = "*"
pinecone-client = "*"

[dev-packages]

[requires]
python_version = "3.10"
