[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
langchain-openai = "*"
python-dotenv = "*"
tiktoken = "*"
openpyxl = "*"
faiss-cpu = "*"
langchain = "*"
langchain-huggingface = "*"
sentence_transformers = "*"
langchain-community = "*"

[dev-packages]

[requires]
python_version = "3.10"
